html, body {
  margin: 0;
  padding: 0;
    text-transform: uppercase;
    font-family: "Roboto",Helvetica,sans-serif;
  font-size: 100%;
  line-height: 3px;
}

.title>h2 {
  margin-bottom: 10px;
}

/*Header & Nav#*/

header{
	background: #fff;
    height: 50px;
    width: 100%;
/*  margin-bottom: -60px;*/
}

.logo>h1 {
    float: left;
  font-size: 1.5em;
  font-weight: 100;
  margin: 18px 0 0 0;
}


.logo, .menu>ul, .social>ul { 
    display: inline;
}

/*Menu Toggle*/
.toggle-nav {
    display:none;
}

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
 
/*----- Links -----*/
.menu {
  float: right;
}

 
.menu ul, .social ul {
    display:inline-block;
  
/*
    position:inherit;
  clear: inherit;
*/
}
 
.menu li{
    margin: 20px 15px 0px 0px;
    float: left;
    list-style:none;
    font-size: 1em;
  padding-right: 0px;
}
 
.social li:last-child {
    margin-right: 100px;
}
 
.header a, .portfolio a {
    color:#333;
    transition:color linear 0.15s;
  text-decoration: none;
}
 
.header a:hover, .menu .current-item a, .portfolio a:hover, .active {
    text-decoration: none;
    color:rgb(102, 169, 146);
}

.logo a:hover, .menu li:hover {
  border-bottom:1px solid black;
  padding-bottom:3px;
  transition: 0.6s;
}

/* hover state?
 position: absolute;
    bottom: -17px;
    left: 50%;
    height: 3px;
    width: 50px;
    margin-left: -25px;
    display: block;
    content: '';
    background-color: #000;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
*/
 

 
/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
 
@media screen and (max-width: 860px) {
  
  .logo>h1 {
    margin-left: 50px;
    }
  
    .menu {
      position: relative;
      left: -150px;
        display:inline-block;
      margin-top: auto;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        position: absolute;
        top:120%;
        left:0px;
/*      width: inherit;*/
        padding:10px 10px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#fff;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #fff;
    }
 
    .menu li>a  {
      padding: 0px;
        float:none;
        display:block;
      text-decoration: none;
    }
 
    .menu a {
        display:block;
      text-decoration: none;
    }
  
    .toggle-nav {
        padding:10px;
        display:inline-block;
/*
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
*/
        background:#fff;
/*        text-shadow:0px 1px 0px rgba(0,0,0,0.5);*/
        color:#333;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
 
}

/* Jumbotron */
.jumbotron {
  background: url("../images/aboutimg.jpg") no-repeat;
  background-size: cover;
  height: 800px;
  height: 100vh;
  max-height: 1024px;
/*  margin-bottom: -50px;*/
}

.main {
  color: #fff;
  position: inherit;
  margin: 200px 0 0 120px;
/*  position: inherit;*/
/*  display: inline-block;*/
/*  width: inherit;*/
}

.main>h1 {
  color: #fff;
/*  text-shadow:0px 2px 0px rgba(0,0,0,0.5);*/
  font-size: 120px !important; 
  text-transform: uppercase;
  margin: -40px 80px 0 80px;
/*  margin-left: 80px;*/
  overflow: visible
}

.main>p {
  margin: -20px 0 0 90px;
    font-size: 26px !important;
}
/*
#99B57D

#AAB798

#AFDC92

#879287

.main>p {
  padding-left: 25px;
  margin-left: auto;
}
*/

/*
.title, ul {
    text-align: center;
    padding: 20px;
}
*/

/*

.btn-default {
  border: 1px solid #333;
  color: #333333;
}
*/
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  margin-top: -30px;
}

.portfolio img {
  display: inline-flex;
  padding: 20px;
  margin: 0px;
}

.portfolio .btn {
  margin-top: 40px;
}

.portfolio .title p {
  margin: 40px 0;
}
 
 .portfolio li {
   display: inline;
   list-style: none;
 }

.portfolio img {
    border: 1px solid #666;
    margin: 15px;
}

.portfolio img:hover {
    background-color: rgba(102, 169, 146, 0.5);
    transition: 0.6s;
}

.portfolio .col-md-4:first-child {
  margin-left: 90px;
}

.portfolio .center {
  margin: 0 -90px 0 -90px;
}

/*About*/
 .about{
/*   height: 500px;*/
   height: 100vh;
   background-color: rgba(160,163,169, 0.2);
  text-align: center;
   padding: 100px 0 50px 0;
   font-size: 1.1em;
   line-height: 3px !important;
}

.about .row {
  padding: 0px 100px;
}

.about h4 {
  margin-bottom: 40px;
  text-align: center;
}

.about p {
  font-weight: 400;
  font-size: 1em;
  line-height: 25px;
  padding: 10px;
  text-align: left;
   text-transform: none;
}

.about p:last-child {
  margin-bottom: 50px;
}

.btn a, .btn-default {
  border: 1px solid #666;
  letter-spacing: 1.3px;
  text-decoration: none !important;
  text-transform: uppercase;
  padding: 5px 5px 5px 15px;
  color: #333;
  font-size: 1.3em;
}



/*Contact*/
.contact {
  background: #333 url('../images/download.png');
   background-size: cover;
  height: 100vh;
   padding-top: 50px 0;
  /*margin-bottom: 50px;*/
  text-align: center;
/*  background-color: rgba(191, 223, 212, 0.4);*/
  color: #fff;
/*  padding-bottom: 50px;*/
  left: 0;
	/*position: absolute;*/
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: contact 80s linear infinite;
	-moz-animation: contact 80s linear infinite;
	-ms-animation: contact 80s linear infinite;
	animation: contact 80s linear infinite;
}

@keyframes contact {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes contact {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes contact {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes contact {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.contact .pad {
  padding: 70px;
}

.contact h2{
  margin-top: 0px;
}

.contact .title {
  margin: 100px 0 120px 0;
}

input[type="text"], textarea[type="text"], .btn-default {
  border: 1px;
  border-radius: 0 !important;
  background-color : #fff !important; 
}

.form-control {
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.contact-form .form-control:focus { 
  border-color: #bfdfd4 !important; 
  -webkit-box-shadow: none; 
  box-shadow: none;
} 

/*Form Button*/

.btn-default {
  border-radius: 0 !important;
  padding-right: 3px !important;
  float: right;
}

.btn a:hover, .btn-default:hover {
/*  background-color: rgba(191, 223, 212, 0.4)!important; */
  color: #333 !important;
  text-shadow: 2px #333;
}

.btn span, .btn a {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none !important;
  text-transform: uppercase;
}

.btn span:after, .btn a:after {
  content: '»';
/*  position:;*/
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span, .btn:hover a {
  padding-right: 25px;
}

.btn:hover span:after, .btn:hover a:after {
  opacity: 1;
  right: 0;
  color: #333 !important;
}

/*Footer*/
.footer {
  background-color: transparent;;
  color: #fff;
  margin-top: 100px;
}

.footer .row {
/*  margin: -10px -10px 0 -10px;*/
}

.name p {
  font-size: 12px;
  float: left;
  margin: 20px;
}

.social li{
  margin: 10px;
    float: left;
    list-style:none;
}

.social ul {
/*  margin-right: 50px;*/
  float: right;
}

  

@media (max-width: 980px) {
  
  body, html {
    margin-right: -15px;
    padding-right: -15px;
  }
  
  .main h1 {
    font-size: 90px !important;
    margin-left: -60px;
  }
  
  .main p {
    font-size: 18px !important; 
    margin-left: -55px;
  }
  
  .about {
    padding-bottom: 100px;
  }
  
  .about p:last-child {
  margin-bottom: 20px;
  }

}
  
/*
  .social>li{
    float: right;
    list-style: none;
    display: inline-block;
    margin: 20px 5px 20px 5px ;
  }

  .social li:last-child {
     margin-right: 100px;
  }
*/




